Repository tairone-livinalli/library-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**' --fix, prettier

chore: add editor config
  .editorconfig
  .eslintignore
Due: none

chore: add express
  package.json
  yarn.lock
Due: none

chore: add mongoose and express types
  package.json
  yarn.lock
Due: none

feat: add server bootstrap
  src/config/env.ts
  src/index.ts
Due: eslint 'src/**' --fix

feat: add routes
  src/index.ts
  src/routes/index.ts
Due: eslint 'src/**' --fix

feat: add missing param and unavailable booking errors
  src/errors/MissingParamError.ts
  src/errors/UnavailableBookingError.ts
  src/errors/index.ts
Due: eslint 'src/**' --fix

feat: add Booking model
  src/models/BookingModel.ts
Due: eslint 'src/**' --fix

feat: add create booking route
  src/routes/BookingsRoutes.ts
  src/routes/index.ts
Due: eslint 'src/**' --fix

feat: add cors
  src/index.ts
  src/middlewares/corsMiddleware.ts
Due: eslint 'src/**' --fix

fix: add booking starting date validation
  src/routes/BookingsRoutes.ts
Due: eslint 'src/**' --fix

fix: change app listen message
  src/index.ts
Due: eslint 'src/**' --fix

fix: add api uri
  src/index.ts
Due: eslint 'src/**' --fix

chore: add readme
  .lintstagedrc.json
  README.md
Due: prettier

Path conditions:
  eslint 'src/**' --fix: any of: src/**/*.ts
  prettier: any of: *.md
